<nav class="navbar fixed-top navbar-expand-lg navbar-architect">
    <button class="navbar-toggler" type="button"
            data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">
        <img src="images/logo.png" width="32" height="32" class="mr-2">
        <span class="text-white">
            {{applicationName}}
        </span>
    </a>
</nav>