<ul class="nav flex-column align-middle sidebar">
    <li>
        <button type="button" class="btn btn-outline-light">
            <i class="material-icons">add</i>
        </button>
    </li>
    <li>
        <button type="button" class="btn btn-outline-light">
            <i class="material-icons">add</i>
        </button>
    </li>
    <li>
        <button type="button" class="btn btn-outline-light">
            <i class="material-icons">add</i>
        </button>
    </li>
    <li>
        <button type="button" class="btn btn-outline-light">
            <i class="material-icons">add</i>
        </button>
    </li>
    <li>
        <button type="button" class="btn btn-outline-light">
            <i class="material-icons">add</i>
        </button>
    </li>
</ul>